<% layout("/layouts/boilerplate") %>
<body>
  <br /><br />
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create New Listing</h3>

      <form
        method="post"
        action="/listing"
        class="needs-validation"
        novalidate
        onsubmit="validateForm(event)"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter a Catchy Title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks Good</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            type="file"
            name="listing[image]"
            placeholder="Enter Image URL"
            class="form-control"
          />
          <div class="valid-feedback">
            Default image will be placed in case of empty field
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Write a short note about the spot</div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="e.g: Jaipur, Rajasthan"
            required
          />
          <div class="invalid-feedback">Enter a valid location!</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price Per Night:</label>
            <input
              name="listing[price]"
              placeholder="e.g: 2000"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a proper price!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="e.g: India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a valid country!</div>
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-dark add-btn" formnovalidate>
          Add
        </button>
      </form>
      <br /><br /><br />
    </div>
  </div>
</body>
